<div class="card">
    <div id="item">Imagem da receita</div>
    <div>
        <input 
            type="text"
            name="image"
            placeholder="http://"
            value="{{recipe.image}}"
        >
    </div>

    <div id="item">Nome da receita</div>
        <div>
            <input 
                type="text"
                name="title"
                value="{{recipe.title}}"
            >
        </div>

        <div id="item">Chef</div>
        <div>
            <select name="chef_id">
                {% for chef in chefsOptions %}
                <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %}selected{% endif %}>
                    {{chef.name}}
                </option>
                {% endfor %}
            </select>
        </div>

    <div id="item">Ingredientes</div>

    <div id="ingredients">
        {%for ingredient in recipe.ingredients%}
        <div class="ingredient">
            <input
                type="text"
                name="ingredients[]"
                value="{{ingredient}}"
                placeholder="Ingrediente"
            >
        </div>
        {%endfor%}
    </div>


    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

    <div id="item">Modo de preparo</div>


    <div id="steps">

        {%for preparation in recipe.preparation%}
        <div class="step">
                    <input 
                        type="text"
                        name="preparation[]"
                        placeholder="Passo"
                        value="{{preparation}}"
                    >
        </div>
        {%endfor%}


        
    </div>


    <button type="button" class="add-step">Adicionar novo passo</button>
    
    <div id="item">Informações adicionais</div>
    <div>
        <textarea name="information" id="text" cols="30" rows="10" >{{recipe.information}}</textarea>
    </div>    
</div>


<script>

    function addIngredient(){
        const ingredients = document.querySelector("#ingredients");
        const fieldContainer = document.querySelectorAll(".ingredient");

        const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

        if(newField.children[0].value=="") return false;

        newField.children[0].value="";

        ingredients.appendChild(newField)
    }

    const buttonAddIngredient = document.querySelector(".add-ingredient")
    buttonAddIngredient.addEventListener("click", addIngredient)

</script>

<script>

    function addStep(){
        const steps = document.querySelector("#steps");
        const fieldContainer = document.querySelectorAll(".step");

        const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

        if(newField.children[0].value=="") return false;

        newField.children[0].value="";

        steps.appendChild(newField)
    }

    const buttonAddStep = document.querySelector(".add-step")
    buttonAddStep.addEventListener("click", addStep)

</script>