{% extends "layout.njk" %}

{% block content %}


    <div class="title-edit">
        <div>Editando chef</div>
        <button id="delete-button" form="delete" type="submit">Deletar</button>
        <button type="submit" form="put">Salvar chef</button>
    </div>

    <form action="/admin/chefs?_method=PUT" id="put" method="POST">

        <input type="hidden" name="id" value={{chef.id}}>

        {% include 'chefs/fields.njk' %}

    </form>

    <form id="delete" action="/admin/chefs?_method=DELETE" method="post">
        <input type="hidden" name="id" value={{chef.id}}>
    </form>

    <script>

        const deleteButton = document.querySelector("#delete")
        deleteButton.addEventListener("submit", function(event){
            const confirmation = confirm("Deseja deletar?")
            if(!confirmation){
                event.preventDefault()
            }
        })

    </script>

{% endblock content %}

