<div class="card">
    
    <div id="item">Nome</div>
        <div>
            <input 
                type="text"
                name="name"
                value="{{chef.name}}"
            >
        </div>

        <div id="item">Avatar</div>
        <div>
            <input 
                type="text"
                name="avatar_url"
                value="{{chef.avatar_url}}"
                >
        </div>
    
</div>