<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    
    </head>


    <body>
        
        {%block header%}
        <header>
            <div class="link">
                <a href="/admin/recipes"><img src="/assets/logo.png"  alt="logo"></a>
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
            </div>
        </header>
        {%endblock%}

        <section>
        {%block content%}

        {%endblock%}
        </section>

        <script src="/scripts.js"></script>

    </body>

</html>